@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.title{
    font-family: "Lexend Giga", sans-serif;
    color: #002A4F;
}

.sub-title-font{
    font-family: 'Montserrat', sans-serif;
    color:#002A4F;
}

.sing-up-button{
    font-family: 'Montserrat', sans-serif;
}

.placeholder-custom::placeholder {
    font-family: 'Montserrat', sans-serif; /* Example font */
    font-size: 16px;  /* Adjust font size */
    color: #888888;   /* Placeholder text color */
}

.title-text{
    font-family:'Raleway', sans-serif;
    color:#002A4F;
}

.product-container-text{
    font-family:'Poppins', sans-serif;
    color:#002A4F;
}

.category-text{
    font-family: 'Poppins', sans-serif;
}

.libre-baskavile-font{
    font-family: "Libre Baskerville", serif;
    color:#002A4F;
}

.rotate-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 1px;
}